body {
    background-color: #000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin: 2px;
    float: left;
}

.title {
    color: #fff;
    font-family: 'Arial';
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
